* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar{
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;;
}
.sidebar-title{
    text-align: center;
    border-bottom: solid 1px #888181;
    font-family:sans-serif;
}
.sidebar-item{
    padding-top: 30px;
    text-align: center;
    font-family:sans-serif;
}
.logo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
}