.landing-page {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../../assets/Ad-Building.rain_.TB_-scaled.svg') no-repeat center center;
    background-size: cover;
    z-index: 1;
  }
  
  .bg-gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 1) 100%);
    z-index: 2;
  }
  
  .header {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
    text-align: center;
    height: 100%;
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 3;
  }
  .search-button{
    background-color: maroon;
    padding: 10px;
    cursor: pointer;
    font-family: sans-serif;
    border: maroon;
    border-radius: 20px;
  }